footer {
  margin-top: 10px;
  background-color: #dfe3e7;
  padding: 20px 0;
  color: #000000;
}

h2 {
  font-weight: bold;
}

.conditions {
  color: #000000;
  text-decoration: none;
}

.conditions2 {
  color: #da1717;
  text-decoration: none;
}
